<h1 id="faq-title">Frequently Asked Questions</h1>
<div class="question">
    <h2>How do I create a ticket?</h2>
    <p>To create a ticket, click on the "Create Ticket" button on the home page</p>
</div>
<div class="question">
    <h2>How do I view tickets?</h2>
    <p>To view tickets, click on the "View Tickets" button on the homescreen. This will only be visible if you are logged in as an admin.</p>
</div>
<div class="question">
    <h2>How do I contact support?</h2>
    <p>You can contact support directly by emailing support@spartysolutions.com</p>
</div>
<%= link_to "Back to Home", root_path, :id => "back-button" %>
