body {
    background-color: #f0f0f0;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 96px;
    font-weight: 400;
}

h2{
    font-size: 64px;
    font-weight: 400;
    margin: 28px 0 0 43px;
}

h3 {
    font-size: 128px;
    font-weight: 600;
}

h4 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 134px;
}

h5 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
}

#welcome-to {
    display: flex;
    flex-direction: row;
    margin-top: 170px;
}

#title-buttons {
    display: flex;
    flex-direction: row;
    gap: 77px;
    margin-top: 42px;
}

.title-button {
    color:#f0f0f0;
    font-size: 32px;
    font-weight: 600;
    background-color: #77867F;
    border-radius: 45px;
    border: none;
    width: 331px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
}

a:hover, a:link, a:visited {
    text-decoration: none;
    color: #f0f0f0;
}

#faq-title {
    font-size: 36px;
    font-weight: 600;
    padding: 36px 0 80px 0;
    color: #3a5046;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#tickets-title {
    font-size: 36px;
    font-weight: 600;
    padding: 36px 0 80px 0;
}

.question {
    justify-content: center;
    margin: 45px 20% 0 20%;
}

.question h2 {
    font-size: 36px;
    font-weight: 600;
    padding: 0 0 10px 0;
    margin: 0;
}

.question p {
    font-size: 20px;
    font-weight: 400;
}

.back-button{
    color:#f0f0f0;
    font-size: 16px;
    font-weight: 600;
    background-color: #77867F;
    border-radius: 45px;
    border: none;
    width: 150px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
}

#side-by-side-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#description {
    width: 35%;
    height: 150px;
    text-align: left;
    padding: 4px 4px 4px 4px;
}

#form-title {
    font-size: 48px;
    font-weight: 600;
    margin-top: 30px;
}

#title {
    width: 30%;
    height: 25px;
}

.ticket-link {
    color: black !important;
}

.p-desc {
    margin-top: 30px;
    font-size: 24px;
}

.p-name {
    margin-top: 20px;
    font-size: 20px;
}

* {
    font-family: "Inter", sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}